@charset "UTF-8";
/* COLORS 

Primary: #eb2f64
Primary light
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: linear-gradient(to right bottom, #eb2f64, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.btn-inline {
  border: none;
  color: #eb2f64;
  font-size: inherit;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 0.3rem;
  transition: all 0.2s;
}
.btn-inline:hover {
  color: #333;
}
.btn-inline:hover span {
  margin-left: 0.8rem;
}
.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 0.5s;
  animation: pulsate 0.5s;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 10rem;
  background-image: linear-gradient(to right, #ff3365, #ba265d);
  color: #fff;
  position: relative;
  overflow: hidden;
}
.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}
.btn__visible {
  padding: 2rem 7.5rem;
}
.btn__invisible {
  position: absolute;
  left: 0;
  top: -100%;
  padding: 2rem 0;
}
.btn:hover {
  background-image: linear-gradient(to left, #ff3365, #ba265d);
}
.btn:hover .btn__invisible {
  top: 0;
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:focus {
  outline: none;
  -webkit-animation: pulsate 1s;
  animation: pulsate 1s;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
}
@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 12rem;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}
