.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  font-size: 1.7rem;
  list-style: none;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.3rem;
  background-color: #ff3365;
  z-index: -5;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: #ff3365;
}
.side-nav__item:focus {
  background-color: #ff3365;
}
.side-nav__link:link,
.side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.side-nav__link--active {
  /* color: #faf9f9; */
  color: #333;
  font-weight: 800;
  background-color: #ff3365;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }

  .side-nav__link--active {
    padding: 3rem 2rem;
  }
}
.side-nav__icon {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: #ccc;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}
