.message_container {
    background-color: #f4f2f2;
    position: absolute;
    top: 20%;
    right: 14rem;
    z-index: 20;
    height: 15rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  @media only screen and (max-width: 900px) {
    .message_container {
      top:4.5%;
      right: 10rem
    }
  }

  @media only screen and (max-width: 500px) {
    .message_container {
      top:8%;
      right: 10rem
    }
  }
  
  .btn_close {
    padding: 0.5rem;
    margin-left: 20rem;
  }
  